
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');


html { scroll-behavior: smooth; } 

.fundo-menu { background-color: rgb(35, 106, 109); }

.display-4 {font-size: 2rem;}

h2 { 
    font-family: 'Noto',"Segoe UI",Roboto,"Helvetica Neue";
    font-size: 1.8rem;
    font-weight: 100;
}

h3 {
    font-family: 'Noto',"Segoe UI",Roboto,"Helvetica Neue";
    font-size: 1.4rem;
    font-weight: 100;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.473);
    left: 0;
    right: 0;
    bottom: 0;
}

