@charset "utf-8";

/* Alteração do Box Model para border-box */
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html { font-size: 16px; }

html, main {height: 100%;} 

body {
    background-image: url(../images/fundo_design.jpg);
    font-family: 'Source Sans Pro', Geneva, Tahoma, sans-serif;
    color: black;
    }

body, h1, h2, p {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(135, 202, 33);
    padding: 20px;
    border-bottom: solid 1px;
    color: rgb(81, 109, 4);
}

h1 {
    font-family: 'Source Sans Pro', 'Lucida Sans', Arial, sans-serif;
    font-weight: 200;
    letter-spacing: .3rem;
    color: white;
    text-align: center;}

    @keyframes animaTexto {
        from { color: black; 
        transform: translateX(-140px); }
        to { color: white; } 
    }

    .animacaotitulo {
        animation-name: animaTexto;
        animation-duration: 2s;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
    }

h2 {
    font-family: 'Source Sans Pro', Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    color: gray;
    padding: 2% 0 0 0;
}

p {
    font-family: 'Source Sans Pro', Geneva, Tahoma, sans-serif;
    color: gray;
    font-size: 1rem;
}

img { max-width: 100%;}

a {
    font-family: 'Source Sans Pro', Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    font-weight: 600;
}

nav {
    background-color: rgb(110, 185, 12);
}

nav a {
    color: white;
    height: 30px;
    width: 95%;
}

nav, nav a {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a:hover, nav a:focus {
    background-color: rgb(193, 247, 67);
    color: rgb(74, 141, 11);
    height: 30px;
    width: 95%;
}

main {
    background-color: white;
    padding: 3%;
    box-shadow: rgb(119, 160, 80) 1px 1px 5px;
    border-radius: 10px;
    width: 95%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container {
    min-height: 100%;
    position: relative;
}

li { 
    font-family: 'Source Sans Pro', Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    color: grey;
}

figcaption {
    text-align: center;
    font-size: 0.6rem;
    color: black
}

#link-topo a {
    background-color: rgb(71, 112, 6);
    color: white;
    padding: 5px;
    border-radius: 4px;
}

#link-topo a:hover, #link-topo a:focus {
    background-color: grey;
    color: white
}

#link-topo {
    position: fixed;
    bottom: 100px;
    right: 15px;
}

footer {
    background-color: rgba(133, 177, 30, 0.7);
    text-align: center;
}

footer img { width: 25px;
}

footer h2 { 
    font-size: .7rem;
    color: black;
    padding: 10px 0;
}

footer p { 
    font-size: 0.5rem;
    color: black;
    padding: 0 0 2% 0 ;
}

.rodape {
    position: absolute;
    bottom: 0 0;
    width: 100%;
}

/* Media Queries (Breakpoints) */

/* 1) Telas a partir de 500px de largura */
@media screen and (min-width: 500px) {
    /* Aumentar o tamanho da fonte do menu "a" */
    a { font-size: 1rem;}

    /* Aumentar o espaçamento do link "topo" tanto do lado direito quanto do rodapé */
    #link-topo {
        position: fixed;
        bottom: 105px;
        right: 21px;
    }

    /* Aumentar o tamanho da fonte do "Siga-nos" de 0.7rem para 1rem */
    footer h2 { 
        font-size: 1rem;
        color: black;
        padding: 10px 0;
        }

    /* Aumentar o tamanho da fonte da "assinatura" de 0.5rem para 0.6rem */
    footer p { 
            font-size: 0.6rem;
            color: black;
            padding: 0 0 2% 0 ;
        }
}

/* 2) Telas a partir de 700px de largura */
@media screen and (min-width: 700px) {
    /* Aumentar a fonte do "html" de 16px para 18px */
    html { font-size: 18px;} /* 1rem = 18px */
    
    /* Aumentar o espaçamento/padding do cabaçalho "Web Design" */
    header { padding: 25px 0;}

    /* Alterar o alinhamento dos textos do "p" de à esquerda para justificado e aumentar o espaçamento do link "topo" no rodapé */
    p {
        font-family: 'Source Sans Pro', Geneva, Tahoma, sans-serif;
        color: gray;
        font-size: 1rem;
        text-align: justify;
    }

    /* Aumentar a fonte das legendas/figcaption de 0.6rem para 0.7rem */
    figcaption {
        text-align: center;
        font-size: 0.7rem;
        color: black
        }

     /* Aumentar o espaçamento do link "topo" no rodapé */
     #link-topo {
        position: fixed;
        bottom: 110px;
        right: 21px;
    }

    /* Aumentar a fonte da "assinatura" de 0.6rem para 0.7rem */    
    footer p { 
        font-size: 0.7rem;
        color: black;
        text-align: center ;
    }
}

/* 3) Telas a partir de 1000px de largura */
@media screen and (min-width: 1000px) {
    
    /* Aumentar a fonte do "html" de 18px para 20px */
    html { font-size: 20px;} /* 1rem = 20px */

    /* Fazer os elementos marcados com a "classe container" (a main) pararem de crescer, chegando no máximo a uma largura de 1000px */
    .container { max-width: 1000px;}

    /* Aumentar a fonte das "legendas/figcaption" de 0.7rem para 0.8rem */
    figcaption {
    text-align: center;
    font-size: 0.8rem;
    color: black
    }

    /* Aumentar o espaçamento do "link topo" tanto à direita quanto do rodapé */
    #link-topo {
    position: fixed;
    bottom: 148px;
    right: 34px;
    }

    /* Aumentar o tamanho das imagens dos "logotipos das redes sociais da largura de 25px para 30px */
    footer img { width: 30px; }

    /* Aumentar a fonte do "Siga-nos" de 1rem para 1.2rem */
    footer h2 { 
    font-size: 1.2rem;
    color: black;
    padding: 10px 0;
    }

    /* Aumentar a fonte da "assinatura" de 0.6rem para 0.7rem */
    footer p { 
    font-size: 0.7rem;
    color: black;
    text-align: center ;
    padding: 0 0 2% 0 ;
    }
}
